Vagrant.configure("2") do |config|
  config.vm.box = "{{ vagrant_vm_box }}"
  config.vm.provision "shell", inline: <<-SHELL
    pacman -S python --noconfirm
  SHELL
  config.vm.provision "ansible" do |ansible|
    ansible.verbose = "v"
    ansible.playbook = "{{ provisioner_playbook }}"
  end
  config.vm.hostname = "{{ inventory_hostname }}"
  config.vm.network "private_network", ip: "{{ ansible_host }}"
  config.vm.provider "{{ vagrant_provider }}" do |libvirt|
     libvirt.memory = "2048"
     libvirt.driver = "kvm"
     libvirt.storage_pool_name = "default"
  end
end
