Vagrant.configure("2") do |config|
  config.vm.box = "{{ vagrant_vm_box }}"
  config.vm.provision "ansible" do |ansible|
    ansible.verbose = "v"
    ansible.playbook = "{{ provisioner_playbook }}"
  end
  config.vm.define "{{ vagrant_box_name }}" do |{{ vagrant_box_name }}|
  end
  config.vm.hostname = "{{ vagrant_box_name }}"
  config.vm.network "private_network", :libvirt__network_name => "default"
  config.vm.provider :libvirt do |libvirt|
    libvirt.uri = "qemu:///system"
    libvirt.memory = 2048
    libvirt.cpus = 2
  end
end
